.icon-length{
	background: url(icons/length.png) no-repeat;
}
.icon-template{
	background: url(icons/template.png) no-repeat;
}
.icon-checkSq {
	background: url(icons/checkSq.png) no-repeat;
}
.icon-checkM{
	background: url(icons/check.png) no-repeat;
}
.icon-formula{
	background: url(icons/formula.png) no-repeat;
}
.icon-excel {
	background: url(icons/excel.png) no-repeat;
}
.icon-checkSq {
	background: url(icons/checkSq.png) no-repeat;
}

.icon-excel {
	background: url(icons/excel.png) no-repeat;
}

.icon-upload2 {
	background: url('icons/upload.png') no-repeat;
}

.icon-cancel2 {
	background: url('icons/cancel2.png') no-repeat;
}

.icon-js {
	background: url('icons/js.gif') no-repeat;
}

.icon-document {
	background: url(icons/document.png) no-repeat;
}

.icon-pie {
	background: url(icons/pie.png) no-repeat;
}

.icon-setup {
	background: url(icons/setup.png) no-repeat;
}

.icon-text {
	background: url(icons/setup.png) no-repeat;
}

.icon-txt {
	background: url(icons/txt.png) no-repeat;
}

.icon-up {
	background: url(icons/up.png) no-repeat;
}

.icon-down {
	background: url(icons/down.png) no-repeat;
}

.icon-26 {
	background: url(icons/26.png) no-repeat;
}

.icon-36 {
	background: url(icons/36.png) no-repeat;
}

.icon-33 {
	background: url(icons/33.png) no-repeat;
}

.icon-statistics {
	background: url(icons/statistics.png) no-repeat;
}

.icon-cfg {
	background: url(icons/cfg.png) no-repeat;
}

.icon-statistic {
	background: url(icons/statistic.png) no-repeat;
}

.icon-option {
	background: url(icons/option.png) no-repeat;
}

.icon-settings {
	background: url(icons/settings.png) no-repeat;
}

.icon-start {
	background: url(icons/start.gif) no-repeat;
}

.icon-stop {
	background: url(icons/stop.gif) no-repeat;
}

.icon-task {
	background: url(icons/task.png) no-repeat;
}

.icon-book {
	background: url(icons/book.png) no-repeat;
}

.icon-users {
	background: url(icons/users.png) no-repeat;
}

.icon-set {
	background: url(icons/set.png) no-repeat;
}

.icon-system {
	background: url(icons/system.png) no-repeat;
}

.icon-param {
	background: url(icons/param.png) no-repeat;
}

.icon-table {
	background: url(icons/table.png) no-repeat;
}

.icon-datacenter {
	background: url(icons/datacenter.png) no-repeat;
}

.icon-home {
	background: url(icons/home.png) no-repeat;
}

.icon-search_n {
	background: url(icons/search_n.png) no-repeat;
}

.icon-shutdown {
	background: url(icons/shutdown.png) no-repeat;
}

.icon-person {
	background: url(icons/person.png) no-repeat;
}

.icon-menu {
	background: url(icons/menu.png) no-repeat;
}

.icon-money {
	background: url(icons/money.png) no-repeat;
}

.icon-tick1 {
	background: url(icons/tick1.png) no-repeat;
}

.icon-cancelupload {
	background: url(icons/cancelupload.png) no-repeat;
}

.icon-dyicon {
	background: url(icons/dyicon.png) no-repeat;
}

.icon-zejn {
	background: url(icons/zejn.jpg) no-repeat;
}

.icon-qj {
	background: url(icons/qj.jpg) no-repeat;
}

.icon-dj {
	background: url(icons/dj.jpg) no-repeat;
}

.icon-wxjn {
	background: url(icons/wxjn.jpg) no-repeat;
}

.icon-edit1 {
	background: url(icons/edit.png) no-repeat;
}

.icon-import {
	background: url(icons/import.png) no-repeat;
}

.icon-goout {
	background: url(icons/goout.png) no-repeat;
}

.icon-gointo {
	background: url(icons/gointo.png) no-repeat;
}

.icon-wj {
	background: url(icons/wj.jpg) no-repeat;
}

.icon-ptNode {
	background: url(icons/node-tree.png) no-repeat;
}