@CHARSET "UTF-8";

#reportToolBarDiv {
	background-image: url("../images/x-toolbar-background.png");
	background-repeat: repeat-x;
	width: 100%;
}

#reportTableDiv {
	overflow: auto;
	width: 100%;;
	text-align: center;
	background-color: white;
}

#reportTablePTitle {
	font-size: 20px;
	color: #808080;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 8px;
	font-family: 微软雅黑, Verdana, sans-serif, 宋体;
}

.report_tableClass {
	font-size: 12px;
	width: 100%;
	position: relative;
	margin: auto;
	table-layout: fixed;
	border-top: 1px solid #99BBE8;
	border-left: 1px solid #99BBE8;
}

.report_tableClass thead th {
	background-color: #E0ECFF;
	color: #2779AA;
	height: 30px;
}

.report_table_body_tr {
	background-color: white;
	text-align: center;
}

.report_table_body_td {
	word-wrap: break-word;
	background-color: white;
}

.report_tableClass td {
	word-wrap: break-word;
}

.lightRow {
	word-wrap: break-word;
	background-color: #DBDCDE;
	cursor: pointer;
}