@CHARSET "UTF-8";

body {
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

form {
	padding: 0px;
	margin: 0px;
}

#reportForm {
	width: 100%;
}

#reportHiddenDiv {
	display: none;
}

#reportToolBarDiv {
	background-image: url("../images/x-toolbar-background.png");
	background-repeat: repeat-x;
	width: 100%;
}

#reportToolBarTable {
	height: 32px;
}

#reportToolBarTable td {
	vertical-align: middle;
	font-size: 12px;
}

.reportToolBarSep {
	background-image: url("../images/x-toolbar-sep.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 4px;
	height: 16px;
	margin: 0 2px 0;
}

#reportPageSize {
	margin-left: 2px;
}

.report-toolbar-first {
	background-image: url("../images/x-toolbar-image.png") !important;
	background-repeat: no-repeat;
	background-position: 0px -54px;
}

.report-toolbar-pre {
	background-image: url("../images/x-toolbar-image.png") !important;
	background-repeat: no-repeat;
	background-position: 0px -72px;
}

.report-toolbar-next {
	background-image: url("../images/x-toolbar-image.png") !important;
	background-repeat: no-repeat;
	background-position: 0px -90px;
}

.report-toolbar-last {
	background-image: url("../images/x-toolbar-image.png") !important;
	background-repeat: no-repeat;
	background-position: 0px -108px;
}

.report-toolbar-out {
	background-image: url("../images/x-toolbar-image.png") !important;
	background-repeat: no-repeat;
	background-position: 0px -395px;
}

#reportFormDiv {
	width: 100%;
	background-color: #F8F8F8;
}

#reportFormId td {
	font-size: 12px;
	padding: 2px;
}

#reportFormControlPanelDiv {
	width: 100%;
	padding: 0px;
	text-align: center;
	height: 7px;
	overflow: hidden;
}

#reportFormControlPanelDivUp {
	background-image: url("../images/x-toolbar-pane-up.png");
	background-repeat: no-repeat;
	cursor: pointer;
	width: 114px;
	height: 7px;
	position: relative;
	margin: auto;
}

#reportFormControlPanelDivDown {
	background-image: url("../images/x-toolbar-pane-down.png");
	background-repeat: no-repeat;
	cursor: pointer;
	width: 114px;
	height: 7px;
	position: relative;
	margin: auto;
	display: none;
}

#reportTableDiv {
	overflow: auto;
	width: 100%;;
	text-align: center;
}

#reportTablePTitle {
	font-size: 20px;
	color: #808080;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 8px;
	font-family: 微软雅黑, Verdana, sans-serif, 宋体;
}

.report_tableClass {
	font-size: 12px;
	width: 100%;
	position: relative;
	margin: auto;
	table-layout: fixed;
	border-top: 1px solid #99BBE8;
	border-left: 1px solid #99BBE8;
}

.report_tableClass thead th {
	background-color: #E6EFFE;
	color: #15428B;
	height: 30px;
	border-right: 1px solid #99BBE8;
	border-bottom: 1px solid #99BBE8;
}

.background-white {
	background-color: white;
}

.report_table_body_tr {
	text-align: center;
}

.report_table_body_td {
	word-wrap: break-word;
	border-right: 1px solid #99BBE8;
	border-bottom: 1px solid #99BBE8;
}

.report_tableClass td {
	word-wrap: break-word;
}

.lightRow {
	word-wrap: break-word;
	background-color: #E6EFFE;
	cursor: pointer;
	border-right: 1px solid #99BBE8;
	border-bottom: 1px solid #99BBE8;
}

#mm {
	display: none;
}