.errorInput {
	border: 3px solid red !important;
}

.rd-table-G1401-1110-1 {
	width: 300px;
}

.rd-table-G1402-1110-1 {
	width: 408px;
}

.rd-table-G1403-1110-1 {
	width: 408px;
}

.rd-table-G1500-1010-1 {
	width: 308px;
}

.rd-table-G1600-1010-1 {
	width: 608px;
}

.rd-table-G2300-1010-1 {
	width: 360px;
}

.rd-table-G2400-1210-1 {
	width: 360px;
}

/*2015添加  */

.rd-table-G1401-111-1 {
	width: 300px;
}

.rd-table-G1402-151-1 {
	width: 408px;
}

.rd-table-G1403-111-1 {
	width: 408px;
}

.rd-table-G1500-091-1 {
	width: 308px;
}

.rd-table-G1600-091-1 {
	width: 608px;
}

.rd-table-G2300-091-1 {
	width: 360px;
}

.rd-table-G2400-151-1 {
	width: 360px;
}